<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Выкуп и монетизация">
	<meta name="description" content="Купим любые облигации">
	<meta name="description" content="Облигация Бонд">
	<meta name="description" content="американские бонды сертификаты и облигации">
	<title>американские облигации бонды и сертификаты</title>
	<link rel="stylesheet" type="text/css" href="/style/main.css">
</head>
<body>

<div class="nav">
	<div class="logotip">
		<img src="./img/es.jpg" class="img3">
		<p class="coins">Международная Консалтинговая Компания</p>
	</div>
	<div class="img1img2">
		<img src="./img/whatsapp.jpg" class="img1">
		<img src="./img/telegram.png" class="img2">
		<img src="./img/viber.jpg" class="img2">
	</div>	
	<div class="str1_str2">
		<div class="str1">+38(096)2502577</div>
		<div class="str1">bonds1934@ukr.net</div>
	</div>	
	<div class="emptyspace">
	</div>	

	<div class="in">

		<div class="circle">
			<div class="vector1">			
			</div>

			<div class="vector2">			
			</div>
		</div>
	</div>	
</div>

<section class="section10">
	<div class="coins1">
		Международная консалтинговая компания содействует в проведении комплекса мероприятий по атрибуции, аутентификации и верификации исторических ценных бумаг в ведущих мировых и американских уполномоченных лабораториях и организациях.
		После полного и положительного результата верификации данных бумаг, мы способствуем их монетизации через международные финансовые институции и фонды
	</div>
</section>

<section class="bod">

	<div class="academy">
		<div class="company">
			Компания монетизирует американские и немецкие облигации бонды и сертификаты 1934,1935, 1924 годов
		</div>
		<div class="text2">
			Облигация Бонд 1934 года
		</div>
	</div>
	
	<div class="text4">
		<div class="text5">
			
		</div>
	</div>
	

	<div class="box3">
		<div class="box2">
			<div class="six">
				Более 10000
			</div>

			<div class="tem">
				<h3>Удачных сделок</h3>
			</div>
		</div>
	</div>

		<div class="karp">
		<img class="img_obligation1" src="./img/obligation1.jpg">
		<img class="img_obligation2" src="./img/obligation2.jpg">
	</div>

	<div class="trans1">
			
	</div>

	<div class="trans2">
		
	</div>

</section>
	
<section class="theme">
	<div class="theme-box">
		<div class="lin1" style="color: #323232;">
		
		</div>

		<div class="theme-box1">
		<h1 class="h1_monet">Монетизируем облигации 1934, 1935, 1924 годов</h1>
		</div>
	</div>	

</section>


<section class="section_img">
	<img class="img_list" src="./img/0.jpg" alt="Облигации и ценные бумаги">
	<img class="img_list" src="./img/1.jpg" alt="Облигации и ценные бумаги">
	<img class="img_list" src="./img/2.jpg" alt="Облигации и ценные бумаги">
	<img class="img_list" src="./img/3.jpg" alt="Облигации и ценные бумаги">
	<img class="img_list" src="./img/4.jpg" alt="Облигации и ценные бумаги">
	<img class="img_list" src="./img/5.jpg" alt="Облигация Бонд">
	<img class="img_list" src="./img/6.jpg" alt="Выкуп и монетизация">
	<img class="img_list" src="./img/7.jpg" alt="Выкуп и монетизация">
</section>

<section class="foot">

	<div class="contacts">
		
		<div class="head marg">
			Контакты
		</div>

		<div class="line str">
			
		</div>

		<div class="materials">
			<div class="str">+380962502577</div>
			<div class="str">bonds1934@ukr.net</div>
		</div>
	</div>
	<div class="foot_img1img2">
		<p>Whatsapp Telegram Viber</p>
		<div>
			<img src="./img/whatsapp.jpg" class="img5">
			<img src="./img/telegram.png" class="img6">
			<img src="./img/viber.jpg" class="img6">
		</div>	
	</div>

</section>

<section class="footer">
	
</section>

</body>
</html>